body {
  background-color: #0000;
  color: #FFFFF;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}
.link {
  text-decoration: none;
}

.logo {
  margin: 20px;
  width: 100px;
}
.title {
  font-size: 3em;
}
.subtitle {
  font-size: 1.5em;
}

.large-pic {
  width: 100%;
}

.story-text {
    line-height: 2;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
